<div class="page">
    <app-stepper [data]="steps"></app-stepper>
    <div class="content">
        <div class="description">
            <div class="text">
                <h2 class="title">Identificação de clientes da Drogaria São Paulo</h2>
                <p>Nesse 3º passo, você identifica o cliente usando o CPF que pode estar cadastrado na nossa base e ter acesso a vários descontos.</p>
            </div>
        </div>
        <div class="form">
        </div>
        <div class="rounded-lines">
            <div class="line1"></div>
            <div class="line2"></div>
        </div>
    </div>
</div>
