<mat-form-field>
  <input
    type="text"
    placeholder="Digite o código interno, composto por 4 dígitos"
    matInput
    [formControl]="searchField"
    [matAutocomplete]="auto">

  <button
    mat-button
    mat-icon-button
    matSuffix
    class="clear-input"
    aria-label="limpar campo"
    (click)="clearValue()"></button>

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">

    <mat-option *ngFor="let option of drugstores" [value]="option">
      {{ option.id }} - {{ option.descricao }}
    </mat-option>

  </mat-autocomplete>
</mat-form-field>
