<div class="page">
	<div class="content">
		<div class="description">
			<div class="text">
				<h2 class="title">Identifique a sua loja</h2>
				<p>Identifique no campo ao lado a loja que você está atendendo. Use o código interno da loja para encontrá-la</p>
			</div>
		</div>
		<div class="form">
			<form class="form-drugstore">
				<div class="form-field">
					<label class="lbl-field">Código da loja</label>
          <app-autocomplete
            [drugstores]="drugstores$ | async"
            [fieldValue]="searchValue$ | async"
            (clearOptions)="resetDrugstores()"
            (updateTextField)="setField($event)"></app-autocomplete>
				</div>

				<div class="form-button">
					<app-button buttonText="Essa é minha loja!" buttonRoute="/cadastro-cliente" buttonClass="disabled"></app-button>
				</div>
			</form>
		</div>
		<div class="rounded-lines">
			<div class="line1"></div>
			<div class="line2"></div>
		</div>
	</div>
</div>
