<div class="home">
	<div class="content">
		<img src="../../../assets/images/logo-dpsp.svg" alt="Drogaria São Paulo" class="logo-drogaria">
		<h3 class="title">Olá atendente! Seja bem vindo ao balcão <br /> da DPSP!</h3>
		<p>Você está prestes a entrar no balcão DPSP. Nele você poderá procurar qualquer produto e medicamento na loja que você está.</p>
		<p>Todo cliente poderá ter ótimos descontos em vários produtos.</p>
		<app-button buttonText="Entrar" buttonRoute="/loja"></app-button>
	</div>
</div>
	